<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/date-1.5.1/datatables.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">Пациенты</h1>
        <table class="table" style="width:100%" id="testTable">
            <thead>
                <tr>
                    {% for field in fields %}
                        <th scope="col">
                            {{ field.2 }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tfoot>
                <tr>
                    {% for field in fields %}
                        <th scope="col">
                            {% include "test_datatable/includes/searchfilter.html" with field=field %}
                        </th>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/date-1.5.1/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script>
        $(function (){
            let table = new DataTable('#testTable', {
                processing: true,
                serverSide: true,
                order: [[0, 'asc']],
                searching: false,
                ajax: {
                    url: {% url 'ajaxTable' %},
                    data: function (d) {
                        {% for field in fields %}
                            d.{{ field.0 }}{% if field.1 == "ForeignKey" %}__name{% endif %} = $('#{{field.0}}searchInput').val();
                            d.{{ field.0 }}{% if field.1 == "ForeignKey" %}__name{% endif %}filter = $('#{{field.0}}filterInput').val();
                            d.{{ field.0 }}{% if field.1 == "ForeignKey" %}__name{% endif %}filter2 = $('#{{field.0}}filterInput2').val();
                            d.{{ field.0 }}{% if field.1 == "ForeignKey" %}__name{% endif %}filtertype = $('#{{field.0}}filterInput').parent().find(':selected').val();
                        {% endfor %}
                    }
                },
                columns: [
                    {% for field in fields %}
                        {
                            data: '{{ field.0 }}{% if field.1 == "ForeignKey" %}__name{% endif %}',
                            {% if field.1 == 'DateField' %}
                                render: function (data, type, row) {
                                    if (type === 'display' || type === 'filter') {
                                        return moment(data).format('DD.MM.YYYY');
                                    }
                                    return data;
                                }
                            {% elif field.1 == 'DateTimeField' %}
                                render: function (data, type, row) {
                                    if (type === 'display' || type === 'filter') {
                                        return moment(data).format('DD.MM.YYYY HH:MM');
                                    }
                                    return data;
                                }
                            {% endif %}
                        },
                    {% endfor %}
                ],
            });
            $('{% for field in fields %}#{{ field.0 }}searchInput,{% endfor %}'.slice(0,-1)).on('keyup', function () {
                table.ajax.reload();
            });
            $('{% for field in fields %}#{{ field.0 }}searchInput,{% endfor %}'.slice(0,-1)).on('change', function () {
                table.ajax.reload();
            });
            $('.filter-type').on('change', function (){
                if($.inArray($(this).find(':selected').text(), ['Между', 'Исключая']) !== -1) {
                    if ($(this).parent().find('input').length === 1){
                        let new_input = $(this).parent().find('input').clone()
                        $(this).parent().find('input').after('<p class="interval mt-2 text-center">и</p>')
                        new_input.attr('id',new_input.attr('id')+'2')
                        new_input.val('')
                        new_input.insertAfter($(this).parent().find('input').next());
                    }
                } else {
                    if ($(this).parent().find('input').length === 2){
                        $(this).parent().find('input').last().remove()
                        $(this).parent().find('.interval').remove()
                    }
                }
            });
            $('.filter-button').on('click', function (){
                $(this).parents('th').find('.search-input').val('')
                table.ajax.reload();
            });
            $('.search-button').on('click', function (){
                $(this).parents('th').find('.filter-input').val('')
                table.ajax.reload();
            });
            $('.submit-filter').on('click', function (){
                table.ajax.reload();
            });
        });
    </script>
</body>
</html>